<div class="m-4">

  <div class="container-fliud">
    <div class="wrapper row">
      <div class="col-md-6">

        <img src="{{course.url_image}}" alt="" class="rounded" />
      </div>
      <div class="details col-md-6">
        <h3 class="course-title">{{course.coursename}}</h3>
        <h6 class="course-details">Giảng viên:
          <span> {{course.fullname}}</span>
        </h6>
        <h6 class="course-details">Ngày bắt đầu:
          <span> {{course.startdatee}}</span>
        </h6>
        <h6 class="course-details">Ngày kết thúc:
          <span> {{course.enddatee}}</span>
        </h6>
        <h6 class="course-details">Số lượng học viên:
          <span> {{course.capacity}}</span>
        </h6>
        <h6 class="course-details">Học phí:
          <span> {{course.fee}} VND</span>
        </h6>
        <h6 class="course-details">Trạng thái:
          <span style="color:green;"> Sắp bắt đầu</span>
        </h6>

        <div class="action">
          <button class="course-status btn btn-success" type="button">
            Ghi danh
            <a href=""></a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <h5 class="course-title">Tổng quan</h5>
  <p>{{course.description}}</p>
  <br />
  <h5 class="course-title">Lịch học</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Giờ bắt đầu</th>
        <th scope="col">Giờ kết thúc</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="courses">Thứ 2</th>
        <td>17:00</td>
        <td>19:00</td>
      </tr>
      <tr>
        <th scope="courses">Thứ 4</th>
        <td>8:00</td>
        <td>10:00</td>
      </tr>
      <tr>
        <th scope="courses">Thứ 6</th>
        <td>13:00</td>
        <td>15:00</td>
      </tr>
    </tbody>
  </table>
  <div class="contain">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h5>Các khóa học liên quan</h5>
      <a href="#" class="btn btn-light btn-sm text-black">Xem thêm
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>

    <div class="courses">
      {{#each relativeCourses}}
      <div class="course">
        <div class="courses-top">
          <a href="/course/{{this.coursename}}?courseid={{this.courseid}}">
            <img src="{{this.url_image}}" alt="" class="courses-image" />
          </a>

          <div class="overlay">
            <button type="button" class="btn btn-secondary" title="detail"><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-secondary" title="add-to-list"><i
                class="fa fa-shopping-bag"></i></button>
          </div>
        </div>
        <div class="courses-content">
          <div class="courses-center ms-2">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <h3 class="courses-name ms-2">
            <a class="primary-color"
              href="/course/{{this.coursename}}?courseid={{this.courseid}}">{{this.coursename}}</a>
          </h3>
          <div class="courses-bottom d-flex justify-content-between">
            <img src="{{this.avatar}}" alt="" class="courses-teacher-avatar" />
            <a href="/user/info/{{this.fullname}}/?userid={{this.userid}}"
              class="teacher_link primary-color">{{this.fullname}}</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <h5 style="margin-top:40px" class="course-title">Đánh giá
    <span class="rating">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="review-no">(50 đánh giá)</span>
    </span>
  </h5>
  {{#each reviews}}
  <div class="review">
    <h5 class="card-header">{{this.fullname}}</h5>
    <div class="card-body">
      <div class="d-flex justify-content-between align-item-center">

        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <h6>{{this.reviewTime}}</h6>
      </div>
      <p class="card-text">{{this.review}}</p>
    </div>
  </div>
  {{/each}}

</div>