<div class="container-fluid">
    <div class="row">
          <img src="./img/Frame 61.png" style="height:600px">
       <div class="text-center">
            <h4 class="font-weight-normal mt-3">
             <b>Khóa học nổi bật</b>
             </h4>
          </div>
    </div>
    
    <div class="row py-5">
      {{#each homeCourses}}
       <div class="col-md-3 mb-3">
         <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a href="/course/{{this.coursename}}?courseid={{this.courseid}}" class="d-block blur-shadow-image">
                  <img src="{{this.url_image}}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                </a>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal">
                  <a class="primary-color" href="/course/{{this.coursename}}?courseid={{this.courseid}}">{{this.coursename}} </a>
              </h5>
              <div class="d-flex justify-content-start mb-3 btn-outline-warning"> 
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="far fa-star p-2"></i>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer d-flex">
                <img class="rounded-circle" src="{{this.avatar}}" style="width: 30px;height: 30px;">
                <a href="/user/info/{{this.fullname}}/?userid={{this.userid}}" class="teacher_link primary-color">{{this.fullname}}</a>
            </div>
        </div>
      </div>
      {{/each}}
       {{!-- <div class="col-md-3 mb-3">
         <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                  <img src="./img/login-bg.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                </a>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal">
                  <a href="javascript:;">Khóa học lập trình C++ cơ bản</a>
              </h5>
              <div class="d-flex justify-content-start mb-3 btn-outline-warning"> 
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer d-flex">
                <img class="rounded-circle" src="./img/duck.jpg" style="width: 30px;height: 30px;">
                <p class="mb-0">Nguyễn Văn A</p>
            </div>
        </div>
      </div>


       <div class="col-md-3 mb-3">
         <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                  <img src="./img/login-bg.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                </a>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal">
                  <a href="javascript:;">Khóa học lập trình C++ cơ bản</a>
              </h5>
              <div class="d-flex justify-content-start mb-3 btn-outline-warning"> 
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="far fa-star p-2"></i>
                  <i class="far fa-star p-2"></i>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer d-flex">
                <img class="rounded-circle" src="./img/duck.jpg" style="width: 30px;height: 30px;">
                <p class="mb-0">Nguyễn Văn A</p>
            </div>
        </div>
      </div>


       <div class="col-md-3 mb-3">
         <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                  <img src="./img/login-bg.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                </a>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal">
                  <a href="javascript:;">Khóa học lập trình C++ cơ bản</a>
              </h5>
              <div class="d-flex justify-content-start mb-3 btn-outline-warning"> 
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="fas fa-star p-2"></i>
                  <i class="far fa-star p-2"></i>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer d-flex">
                <img class="rounded-circle" src="./img/duck.jpg" style="width: 30px;height: 30px;">
                <p class="mb-0">Nguyễn Văn A</p>
            </div>
        </div>
    </div> --}}
    </div>

    <div class="row py-2">
       <div class="text-center">
            <h4 class="font-weight-normal mt-3">
             <b>Với những giáo viên giàu kinh nghiệm</b>
             </h4>
          </div>
        <img src="./img/Frame 62.png">
      </div>
      <div class="row py-5">
        <div class="card bg-gradient-default border-1">
          <div class="card-body d-flex justify-content-start mb-3">
            <img class ="p-2" src="./img/duck.jpg" style="width: 200px;height: 200px;">
            <div class="p-2">
             <h4 class="font-weight-normal text-info text-gradient">Cô Nguyễn Ngọc Thùy Linh</h4>
             <blockquote class="blockquote text-white mb-0">
                <h5 class="text-dark ms-3">“Giáo dục là vũ khí mạnh nhất mà người ta có thể sử dụng để thay đổi thế giới”</h5>
              </blockquote>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="card bg-gradient-default border-1">
          <div class="card-body d-flex justify-content-end mb-3">
            <div class ="p-2">
             <h4 class="font-weight-normal text-info text-gradient">Thầy Dương Hoàng Vương</h4>
             <blockquote class="blockquote text-white mb-0">
                <h5 class="text-dark ms-3">“Muốn sang thì bắc cầu kiều. Muốn con hay chữ thì yêu lấy thầy”</h5>
              </blockquote>
            </div>
              <img class ="p-2"src="./img/duck.jpg" style="width: 200px;height: 200px;">
          </div>
        </div>
    </div>

    <div class="row py-2">
       <div class="text-center">
            <h4 class="font-weight-normal mt-3">
             <b>Cùng với sự tin tưởng của hàng ngàn học viên trên cả nước</b>
             </h4>
          </div>
        <img src="./img/Frame 63.png">
      </div>
</div>