<div class="m-4">
<div class="contain m-0 p-4">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h2>Lập trình</h2>
    <a href="#" class="btn btn-light btn-sm text-black">Xem tất cả
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
  <div class="courses">
  {{#each courses}}
    <div class="course">
      <div class="courses-top">
        <img src="{{this.url_image}}" alt="" class="courses-image" />
        <div class="overlay">
          <button type="button" class="btn btn-secondary" title="detail"><i
              class="fa fa-eye"
            ></i></button>
          <button type="button" class="btn btn-secondary" title="add-to-list"><i
              class="fa fa-shopping-bag"
            ></i></button>
        </div>
      </div>
      <div class="courses-content">
        <div class="courses-center ms-2">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <h3 class="courses-name">
            <a href="/course/{{this.coursename}}?courseid={{this.courseid}}">{{this.coursename}}</a>
          </h3>
        </div>
        <div class="courses-bottom">
          <img
            src="{{this.avatar}}"
            alt=""
            class="courses-teacher-avatar"
          />
          <a href="/user/info/{{this.fullname}}/?userid={{this.userid}}" class="courses-teacher-name">{{this.fullname}}</a>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
<nav style="height: 100px;">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1">
        <i class="fa fa-arrow-left"></i>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item"><a class="page-link" href="#">7</a></li>
    <li class="page-item">
      <a class="page-link" href="#">
        <i class="fa fa-arrow-right"></i>
      </a>
    </li>
  </ul>
</nav>

</div>